# Graded Assignment 3: 9 to 5

Time to show off your SQL skills! For each question, copy the SQL query you used and make note of the answer.

## The Dataset

For this assignment, you will be using the Bureau of Labor Statistics (BLS) Current Employment Survey (CES) results which can be found on [Kaggle](https://www.kaggle.com/datasets/bls/employment).

## Business Issue

You are working for the Bureau of Labor Statistics with the United States government and have been approached by your boss with an important meeting request. You have been asked by your supervisor to meet with Dolly Parton whose nonprofit is looking to shed light on the state of employment in the United States. As part of the 9 to 5 project, their research is focused on production and nonsupervisory employees and how those employees fare compared to all employees in the United States. While the data the BLS collects from the CES is publicly available, Dolly Parton and her colleagues need your assistance navigating the thousands of rows in each table in LaborStatisticsDB.

## About the Dataset

This dataset comes directly from the Bureau of Labor Statistics’ Current Employment Survey (CES). Here are some things you need to know:

1. The industry table contains an NAICS code. This is different from the industry code. NAICS stands for North American Industry Classification System.
1. Series ID is composed of multiple different codes. CES stands for Current Employment Survey, the name of the survey which collected the data. The industry code as specified by the BLS and the data type code as specified in the datatype table.

## Set Up

To connect to the database, use the same connection info used during the SQL lessons. 

For the assignment, we will be using `LaborStatisticsDB`.

## Database Exploration

To start with, let’s get to know the database further.

1. Use this space to make note of each table in the database, the columns within each table, each column’s data type, and how the tables are connected. You can write this down or draw a diagram. Whatever method helps you get an understanding of what is going on with `LaborStatisticsDB`.
   
   To add a photo, diagram or document to your file, drop the file into the folder that holds this notebook.  Use the link button to the right of the  </> symbol in the gray part of this cell, the link is just the name of your file.

![Database Diagram](data_exploration photo.jpg)
The diagram/photo for 'Database Exploration' is displayed above. 
The original file is in the same folder, named 'data_exploration_photo.jpg'. Thanks.

2. What is the datatype for women employees?

In [ ]:
SELECT data_type_code, data_type_text
FROM LaborStatisticsDB.dbo.datatype
WHERE data_type_text LIKE '%WOMEN EMPLOYEES%';

3. What is the series id for  women employees in the commercial banking industry in the financial activities supersector?

In [ ]:
SELECT s.series_id, s.series_title, i.industry_name
FROM dbo.series s
JOIN dbo.industry i ON s.industry_code = i.industry_code
WHERE i.industry_name LIKE '%Commercial banking%' 
AND s.series_title LIKE '%Women%'               
AND s.data_type_code = '10';

## Aggregate Your Friends and Code some SQL

Put together the following:

1. How many employees were reported in 2016 in all industries? Round to the nearest whole number.

In [ ]:
SELECT TOP 1 ROUND(value, 0) AS total_employees_2016
FROM dbo.annual_2016 d
JOIN dbo.series s ON d.series_id = s.series_id
WHERE s.industry_code = '00000000' 
AND s.data_type_code = '01';

2. How many women employees were reported in 2016 in all industries? Round to the nearest whole number.

In [ ]:
SELECT ROUND(value, 0) AS women_employees_2016
FROM dbo.annual_2016 a
JOIN dbo.series s ON a.series_id = s.series_id
WHERE s.data_type_code = '10' 
AND s.industry_code = '00000000';

3. How many production/nonsupervisory employees were reported in 2016? Round to the nearest whole number.

In [ ]:
SELECT ROUND(SUM(value), 0) AS count_production_nonsupervisory_employee
FROM dbo.annual_2016 AS data
JOIN dbo.series AS series ON data.series_id = series.series_id
WHERE series.data_type_code = '06';

4. In January 2017, what is the average weekly hours worked by production and nonsupervisory employees across all industries?

In [ ]:
SELECT ROUND(AVG(value), 2) AS avg_weekly_payroll
FROM dbo.january_2017 AS data
JOIN dbo.series AS series ON data.series_id = series.series_id
WHERE series.data_type_code = '07';

5. What is the total weekly payroll for production and nonsupervisory employees across all industries in January 2017? Round to the nearest penny.

In [ ]:
SELECT ROUND(SUM(value), 2) AS total_weekly_payroll
FROM dbo.january_2017 AS data
JOIN dbo.series AS series ON data.series_id = series.series_id
WHERE series.data_type_code = '82';

6. In January 2017, for which industry was the average weekly hours worked by production and nonsupervisory employees the highest? Which industry was the lowest?

In [ ]:
-- Highest
SELECT TOP 1 i.industry_name, d.value AS max_hours
FROM dbo.january_2017 d
JOIN dbo.series s ON d.series_id = s.series_id
JOIN dbo.industry i ON s.industry_code = i.industry_code
WHERE s.data_type_code = '07'
ORDER BY d.value DESC;

-- Lowest
SELECT TOP 1 i.industry_name, d.value AS min_hours
FROM dbo.january_2017 d
JOIN dbo.series s ON d.series_id = s.series_id
JOIN dbo.industry i ON s.industry_code = i.industry_code
WHERE s.data_type_code = '07'
ORDER BY d.value ASC;

7. In January 2021, for which industry was the total weekly payroll for production and nonsupervisory employees the highest? Which industry was the lowest?

In [ ]:
USE LaborStatisticsDB;
GO
SELECT name FROM sys.tables WHERE name LIKE '%2021%';

SELECT TOP 1 i.industry_name, d.value AS Max_Payroll
FROM dbo.january_2021 d
JOIN dbo.series s ON d.series_id = s.series_id
JOIN dbo.industry i ON s.industry_code = i.industry_code
WHERE s.data_type_code = '82'
ORDER BY d.value DESC;

SELECT TOP 1 i.industry_name, d.value AS Min_Payroll
FROM dbo.january_2021 d
JOIN dbo.series s ON d.series_id = s.series_id
JOIN dbo.industry i ON s.industry_code = i.industry_code
WHERE s.data_type_code = '82'
ORDER BY d.value ASC;

-- I can't find the january_2021 table in the LaborStatistics dataset.

## Join in on the Fun

Time to start joining! You can choose the type of join you use, just make sure to make a  note!

1. Join `annual_2016` with `series` on `series_id`. We only want the data in the `annual_2016` table to be included in the result.

In [ ]:
-- Limiting rows returned from query, uncomment the line below to start on your query!
SELECT TOP 50 
    a.series_id, 
    a.value, 
    s.series_title
FROM dbo.annual_2016 AS a
LEFT JOIN dbo.series AS s ON a.series_id = s.series_id

-- Uncomment the line below when you are ready to run the query, leaving it as your last!
ORDER BY a.series_id;

2. Join `series` and `datatype` on `data_type_code`.

In [ ]:
-- Limiting rows returned from query, uncomment the line below to start on your query!
SELECT TOP 50 
    s.series_id, 
    s.series_title, 
    d.data_type_code, 
    d.data_type_text
FROM dbo.series s
JOIN dbo.datatype d ON s.data_type_code = d.data_type_code

-- Uncomment the line below when you are ready to run the query, leaving it as your last!
ORDER BY a.series_id;

3. Join `series` and `industry` on `industry_code`.

In [ ]:
-- Limiting rows returned from query, uncomment the line below to start on your query!
SELECT TOP 50 
    s.series_id, 
    s.series_title, 
    s.industry_code, 
    i.industry_name
FROM dbo.series AS s
JOIN dbo.industry AS i ON s.industry_code = i.industry_code

-- Uncomment the line below when you are ready to run the query, leaving it as your last!
ORDER BY s.series_id;

## Subqueries, Unions, Derived Tables, Oh My!

1. Write a query that returns the `series_id`, `industry_code`, `industry_name`, and `value` from the `january_2017` table but only if that value is greater than the average value for `annual_2016` of `data_type_code` 82.

In [ ]:
SELECT TOP 50 
    d.series_id, 
    s.industry_code, 
    i.industry_name, 
    d.value
FROM dbo.january_2017 d
JOIN dbo.series s ON d.series_id = s.series_id
JOIN dbo.industry i ON s.industry_code = i.industry_code
WHERE d.value > (

SELECT AVG(a.value)
FROM dbo.annual_2016 a
JOIN dbo.series s2 ON a.series_id = s2.series_id
WHERE s2.data_type_code = '82'
)
ORDER BY d.series_id;

**Optional Bonus Question:** Write the above query as a common table expression!

In [ ]:
-- Optional CTE below
WITH average_payroll_2016 AS ( 
    SELECT AVG(a.value) AS avg_val
    FROM dbo.annual_2016 a
    JOIN dbo.series s2 ON a.series_id = s2.series_id
    WHERE s2.data_type_code = '82'
)
SELECT TOP 50 
    d.series_id, 
    s.industry_code, 
    i.industry_name, 
    d.value
FROM dbo.january_2017 d
JOIN dbo.series s ON d.series_id = s.series_id
JOIN dbo.industry i ON s.industry_code = i.industry_code
CROSS JOIN average_payroll_2016 
WHERE d.value > average_payroll_2016.avg_val
ORDER BY d.series_id;

2. Create a `Union` table comparing average weekly earnings of production and nonsupervisory employees between `annual_2016` and `january_2017` using the data type 30.  Round to the nearest penny.  You should have a column for the average earnings and a column for the year, and the period.

In [ ]:
SELECT 
    ROUND(AVG(d16.value), 2) AS avg_weekly_earnings, -- 别名改为全小写
    '2016' AS year, 
    'annual' AS period
FROM dbo.annual_2016 d16
JOIN dbo.series s ON d16.series_id = s.series_id
WHERE s.data_type_code = '30'

UNION

-- 2017 Jan data
SELECT 
    ROUND(AVG(d17.value), 2) AS avg_weekly_earnings, 
    '2017' AS year, 
    'january' AS period
FROM dbo.january_2017 d17
JOIN dbo.series s ON d17.series_id = s.series_id
WHERE s.data_type_code = '30';

## Summarize Your Results

With what you know now about the  Bureau of Labor Statistics (BLS) Current Employment Survey (CES) results and working with the Labor Statistics Database, answer the following questions. Note that while this is subjective, you should include relevant data to back up your opinion.

1. During which time period did production and nonsupervisory employees fare better?

Production and nonsupervisory employees fared better in January 2017, with average weekly earnings of $808.53 compared to the 2016 annual average of $797.20.

2. In which industries did production and nonsupervisory employees fare better?

Pipeline transportation was the best-performing industry long-term, with a 2016 annual average of $1,730.96. However, Reinsurance carriers saw a significant peak in January 2017 at $1,847.47.

3. Now that you have explored the datasets, is there any data or information that you wish you had in this analysis?

I would include fringe benefits and annual bonuses, as base salary is only one part of total compensation. Data on healthcare, retirement plans, and bonuses would provide a more complete picture of the best overall employment packages.